<mat-toolbar color="primary">Cadastro de Usuario</mat-toolbar>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="nome"/>
        <mat-error *ngIf="formGroup.get('nome') &&
                formGroup.get('nome')?.invalid &&
                formGroup.get('nome')?.touched">
            Nome é obrigatório.
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Cpf</mat-label>
        <input matInput type="text" formControlName="cpf"/>
        <mat-error *ngIf="formGroup.get('cpf') &&
                formGroup.get('cpf')?.invalid &&
                formGroup.get('cpf')?.touched">
            Sigla é obrigatória.
        </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" 
        type="submit"[disabled]="formGroup.invalid">
        Salvar
    </button>

</form>